body {
    opacity: 0;
    transition: all 0.5s;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-Medium.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-SemiBold.woff) format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'game';
    src: url(./assets/fonts/gameover.woff) format('woff');
    font-weight: 500;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

body,
html {
    overflow-y: overlay;
    overflow-x: hidden;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #5552F100;
    border-radius: 10px;
}

.active-scrollbar ::-webkit-scrollbar-thumb {
    background-color: #333333;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'jakarta' !important;
    box-sizing: border-box;
}

body {
    /* transition: background-color .5s ease; */
    background: #121212;
}

* p {
    margin: 0;
    padding: 0;
    color: #F7F7F7;
}

a {
    text-decoration: none !important;
}

* {
    cursor: url('./assets/img/circle-cursor.png'), auto !important;
}

#circle {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    border: 3px solid #5552F1;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
}

/* global styles */
.navbar-light .navbar-toggler {
    border: none;
}

button {
    box-shadow: none !important;
}

a {
    text-decoration: none;
    color: #F7F7F7;
}

a:hover {
    color: #F7F7F7;
}

.inner-wrap {
    max-width: 1292px;
    margin: 0 auto;
}

::selection {
    color: #fff;
    background: #5552F1;
    -webkit-text-stroke: none;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::marker {
    color: #5552F1;
}

.blue-text {
    color: #5552F1;
}

input[type="button"],
input[type="submit"] {
    color: #F7F7F7;
    height: 76px;
    padding: 0 70px;
    outline: none;
    border: 1px solid #5552F1;
    border-radius: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    background-image: linear-gradient(to right, #121212 0%, #121212 50%, #5552F1 50%, #5552F1 100%);
    background-repeat: no-repeat;
    background-position: -410px 0;
    background-size: 780px 90px;
    transition: all .5s;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    color: #5552F1;
    background-position: 0 0;
}

.overlay {
    position: absolute;
    z-index: -1;
}

.overlay svg rect {
    stroke: #5552F1;
}

.left {
    left: 0;
    top: 50vh;
}

.right {
    right: 0;
    top: 0;
}

.bg-grey {
    background: #181818;
    width: 1489px;
    height: 755px;
    border-radius: 200px;
    top: 150px;
    z-index: -2;
}

.section-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 65.91px;
    line-height: 83px;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.inner-heading {
    font-size: 28px;
    font-weight: 400;
    color: #9090909c;
    margin-bottom: 40px;
}

.description {
    font-family: 'jakarta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #909090;
    letter-spacing: 1px;
}

.inner-heading {
    /* letter-spacing: 1px; */
}

.blue-line div {
    position: relative;
    background: #5552F1;
    height: 2px;
}

.active {
    color: #5552F1 !important;
    font-weight: 600;
}

/* about section */
#about {
    margin-bottom: 120px;
}

#about .section-heading {
    margin-bottom: 360px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 120px;
    margin-bottom: 100px;
}

#about .outer-wrap {
    background-position: left center;
}

#about .inner-wrap {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 650px;
}

#about .left {
    flex-basis: 40%;
    height: 650px;
}

#about .right {
    flex-basis: 614px;
    text-align: justify;
}

#about .description.one,
#about .description.two {
    margin-bottom: 20px;
}

#about .blue-line {
    right: 0;
    width: 740px;
}

#about .blue-line div {
    top: -60px;
}

#about .left {
    background: url(./assets/img/about-us.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

.bg-dark {
    background-color: #181818 !important;
}

.navbar .container {
    max-width: unset;
    margin: 0 100px;
}

#hamburger-wrap {
    border: none;
    outline: none;
    background: none;
}

/* hamburger menu icon */
.nav-hamburger {
    width: 50px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.nav-hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    border-radius: 25px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.nav-hamburger span:nth-child(1) {
    top: 0px;
}

.nav-hamburger span:nth-child(2),
.nav-hamburger span:nth-child(3) {
    top: 12px;
}

.nav-hamburger span:nth-child(4) {
    top: 24px;
}

.nav-hamburger.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
}

.nav-hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-hamburger.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
}

/* navbar section */
#navbar-wrap {
    margin: 0 100px;
    padding: 10px 0;
}

#navbar {
    padding: 10px 0;
    background: none;
    /* mix-blend-mode: difference; */
    background: #121212;
}

.navbar-nav {
    height: 100vh;
}

#navbar ul li {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 30px;
}

#navbar ul {
    margin-top: 150px;
}

#navbar ul a {
    font-family: "jakarta";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    color: #fafafa;
}

#navbar ul a:hover {
    color: #5552F1;
}

/* footer section */
#footer {
    background: #f7f7f7;
    height: max-content;
    padding: 60px 0;
}

#footer .brand svg path {
    fill: #181818;
}

#footer * {
    color: #181818;
    font-size: 18px;
}

#footer .instagram svg {
    width: 25px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;

}

#footer .nav-links {
    flex-basis: 35%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

#footer .nav-link-item {
    transition: all .3s;
    padding: 0 10px 10px;
}

#footer .nav-link-item:hover {
    color: #5552F1;
}

#footer .contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer .contact-wrap .heading {
    font-weight: 600;
}

#footer .contact-wrap .instagram {
    font-weight: 500;
    margin-top: 5px;
    transition: all .3s;
    padding: 0 0 0 20px;
}

#footer .contact-wrap .instagram path {
    fill: #181818;
    transition: all .3s;
}

#footer .contact-wrap .instagram:hover path {
    fill: #5552F1;
}

#footer .contact-wrap .mail {
    font-weight: 500;
    transition: all .3s;
}

#footer .contact-wrap .mail:hover {
    color: #5552F1;
}

.js-cont {
    position: relative;
    width: 100%;
    height: 100%;
}

.js-scroll {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    will-change: transform;
}

@media only screen and (max-width:1440px) {

    /* about section */
    #about .blue-line div {
        top: -55px;
    }

    #about .blue-line {
        width: 520px;
    }

    .section-heading {
        font-size: 55.91px;
    }

    #about .blue-line div {
        top: -60px;
    }

    #about .right {
        flex-basis: 644px;
        text-align: justify;
    }

    #about .section-heading {
        margin-top: 60px;
    }
}

@media only screen and (max-width:1200px) {
    .inner-wrap {
        max-width: 1040px;
    }

    #about .right {
        flex-basis: 544px;
    }

    #about .blue-line {
        width: 430px;
    }
}

@media only screen and (max-width:992px) {

    .inner-wrap {
        max-width: 880px;
    }

    #about .right {
        flex-basis: 474px;
    }

    #about .blue-line {
        width: 340px;
    }

    #about .left {
        background: url(./assets/img/about-us-992px.png) no-repeat;
    }

    #about .inner-wrap {
        align-items: flex-start;
    }

    #about .left {
        height: 540px;
    }
}

@media only screen and (max-width:768px) {
    .inner-wrap {
        max-width: 640px;
    }

    #navbar-wrap {
        padding: 10px 0;
        margin: 0 50px;
    }

    #about .inner-wrap {
        height: 100%;
        flex-direction: column;
    }

    #about .left {
        background: url("./assets/img/about-768px.png") no-repeat;
        width: 100%;
        min-height: 300px;
        margin-bottom: 60px;
    }

    #about .right {
        flex-basis: 100%;
        width: 100%;
    }

    #about .blue-line {
        width: 500px;
    }

    .footer-wrap {
        margin: 0 50px;
        flex-wrap: wrap;
    }

    #footer .brand {
        flex-basis: 30%;
        width: 30%;
    }

    #footer .nav-links {
        flex-basis: 50%;
        width: 50%;
    }

    #footer .nav-link-item {
        transition: all .3s;
        padding: 10px 0;
    }

    #footer .contact-wrap {
        flex-basis: 100%;
        width: 100%;
        margin-top: 30px;
    }

    #footer .contact-wrap .instagram {
        padding: 5px 0 0 0;
    }

    .footer-wrap {
        margin: 0 50px;
        flex-wrap: wrap;
    }
}

@media only screen and (max-width:575px) {
    #navbar-wrap {
        padding: 10px 0;
        margin: 0 40px;
    }

    #circle {
        display: none;
    }

    .nav-hamburger {
        width: 40px;
    }

    #navbar ul a {
        font-size: 32px;
    }

    #about .section-heading {
        font-size: 35.91px;
        line-height: 56px;
    }

    .inner-wrap {
        max-width: 360px;
    }

    #about .blue-line {
        width: 190px;
    }

    .description {
        font-size: 16px;
        line-height: 26px;
    }

    .inner-heading {
        margin-bottom: 30px;
    }

    #about .blue-line div {
        top: -50px;
    }

    #footer .brand {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    #footer .nav-links {
        flex-basis: 100%;
    }

    #footer .contact-wrap {
        align-items: flex-start;
    }

    .brand svg {
        width: 110px;
    }

    .brand svg {
        width: 110px;
    }

    #footer * {
        font-size: 16px;
    }
}