body {
    opacity: 0;
    transition: all 0.5s;
}

.active {
    color: #5552F1 !important;
    font-weight: 600;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-Medium.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-SemiBold.woff) format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'game';
    src: url(./assets/fonts/gameover.woff) format('woff');
    font-weight: 500;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
    box-sizing: border-box;
}

body,
html {
    overflow-y: overlay;
    overflow-x: hidden;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #5552F100;
    border-radius: 10px;
}

.active-scrollbar ::-webkit-scrollbar-thumb {
    background-color: #333333;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'jakarta' !important;
    box-sizing: border-box;
}

body {
    /* transition: background-color .5s ease; */
    background: #121212;
}

* p {
    margin: 0;
    padding: 0;
    color: #F7F7F7;
}

a {
    text-decoration: none !important;
}

* {
    cursor: url('./assets/img/circle-cursor.png'), auto !important;
}

#circle {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    border: 3px solid #5552F1;
    border-radius: 50%;
    pointer-events: none;
    z-index: 1000;
}

/* global styles */
.navbar-toggler {
    padding: 0;
}

.navbar-light .navbar-toggler {
    border: none;
}

button {
    box-shadow: none !important;
}

a {
    text-decoration: none;
    color: #F7F7F7;
}

a:hover {
    color: #F7F7F7;
}

.inner-wrap {
    max-width: 1292px;
    margin: 0 auto;
}

::selection {
    color: #fff;
    background: #5552F1;
    -webkit-text-stroke: none;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::marker {
    color: #5552F1;
}

.section-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 60.91px;
    line-height: 73px;
    letter-spacing: 0.03em;
    margin-bottom: 100px;
}

.blue-text {
    color: #5552F1;
}

.overlay {
    position: absolute;
    z-index: -1;
    bottom: 1460px;
}

.overlay svg rect {
    stroke: #5552F1;
}

input[type="button"],
input[type="submit"] {
    color: #F7F7F7;
    height: 65px;
    padding: 0 70px;
    outline: none;
    border: 1px solid #5552F1;
    border-radius: 40px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    background-image: linear-gradient(to right, #121212 0%, #121212 50%, #5552F1 50%, #5552F1 100%);
    background-repeat: no-repeat;
    background-position: -410px 0;
    background-size: 780px 90px;
    transition: all .5s;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    color: #5552F1;
    background-position: 0 0;
}

.bg-dark {
    background-color: #181818 !important;
}

.navbar .container {
    max-width: unset;
    margin: 0 100px;
}

#hamburger-wrap {
    border: none;
    outline: none;
    background: none;
}

/* hamburger menu icon */
.nav-hamburger {
    width: 50px;
    height: 30px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.nav-hamburger span {
    display: block;
    position: absolute;
    height: 3px;
    border-radius: 25px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

.nav-hamburger span:nth-child(1) {
    top: 0px;
}

.nav-hamburger span:nth-child(2),
.nav-hamburger span:nth-child(3) {
    top: 12px;
}

.nav-hamburger span:nth-child(4) {
    top: 24px;
}

.nav-hamburger.open span:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
}

.nav-hamburger.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-hamburger.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-hamburger.open span:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
}

/* navbar section */
#navbar-wrap {
    margin: 0 100px;
    padding: 10px 0;
}

#navbar {
    padding: 10px 0;
    background: none;
    /* mix-blend-mode: difference; */
    background: #121212;
}

.navbar-nav {
    height: 100vh;
}

#navbar ul li {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 30px;
}

#navbar ul {
    margin-top: 150px;
}

#navbar ul a {
    font-family: "jakarta";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    color: #fafafa;
}

#navbar ul a:hover {
    color: #5552F1;
}

/* hero section */
#hero {
    display: flex;
}

/* services section */
#services {
    margin-top: 80px;
    margin-bottom: 160px;
}

#services .heading-wrap {
    text-align: center;
}

#services .description {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #d7d7d7;
}

#services .card-wrap {
    margin-top: 100px;
}

#services #wolf-form {
    background: #242424;
    height: max-content;
    padding: 50px 60px 70px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #181818 97%, #5552F1 3%);
    font-size: 22px;
    /* width: 1187px; */
    margin: 0 auto;
    box-shadow: 0px 2px 70px rgb(0 0 0 / 55%);
}

#services .features {
    margin-bottom: 60px;
}

input {
    outline: none !important;
    border: none;
    margin-bottom: 30px;
}

#services .card-item li {
    color: #909090;
    margin-bottom: 25px;
    padding-left: 10px;
    font-size: 21px;
    width: 500px;
}

#services .card-item ul {
    padding-left: 25px;
}

#services .card-item {
    flex-basis: 45%;
}

#services .input-wrap {
    flex-basis: 50%;
    text-align: center;
}

#services .card-wrap {
    display: flex;
    justify-content: space-between;
}

#services .card-item .heading {
    color: #D9D9D9;
    font-weight: 600;
    margin-bottom: 30px;
}

/* wolf form */
#wolf-form input {
    display: block;
}

input[type="text"] {
    width: 100%;
    background: #000;
    border-radius: 5px;
    height: 50px;
    padding: 0 10px;
    color: #d7d7d7;
    border: 1px solid #000 !important;
    transition: all .3s;
}

input[type="text"]:focus {
    border: 1px solid #5552F1 !important;
}

::placeholder {
    color: #555;
}

input[type="submit"] {
    margin-top: 50px;
    margin-bottom: 0;
}

/* footer section */
#footer {
    background: #f7f7f7;
    height: max-content;
    padding: 60px 0;
}

#footer .brand svg path {
    fill: #181818;
}

#footer * {
    color: #181818;
    font-size: 18px;
}

#footer .instagram svg {
    width: 25px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;

}

#footer .nav-links {
    flex-basis: 35%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

#footer .nav-link-item {
    transition: all .3s;
    padding: 0 10px 10px;
}

#footer .nav-link-item:hover {
    color: #5552F1;
}

#footer .contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer .contact-wrap .heading {
    font-weight: 600;
}

#footer .contact-wrap .instagram {
    font-weight: 500;
    margin-top: 5px;
    transition: all .3s;
    padding: 0 0 0 20px;
}

#footer .contact-wrap .instagram path {
    fill: #181818;
    transition: all .3s;
}

#footer .contact-wrap .instagram:hover path {
    fill: #5552F1;
}

#footer .contact-wrap .mail {
    font-weight: 500;
    transition: all .3s;
}

#footer .contact-wrap .mail:hover {
    color: #5552F1;
}

.js-cont {
    position: relative;
    width: 100%;
    height: 100%;
}

.js-scroll {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    will-change: transform;
}

.detail-features {
    margin-top: 100px;
}

.detail-features ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    font-size: 21px;
    color: #909090;
    width: 100%;
    padding-left: 25px;
}

.detail-features .heading {
    font-size: 26px;
    color: #d7d7d7;
    margin-bottom: 30px;
}

@media only screen and (max-width: 1440px) {
    .section-heading {
        font-size: 55.91px;
    }

    #services {
        margin-top: 60px;
    }

    .section-heading {
        margin-bottom: 55px;
    }

    #services {
        margin-bottom: 140px;
    }
}

@media only screen and (max-width:1200px) {
    .inner-wrap {
        max-width: 1040px;
    }

    #services .input-wrap {
        flex-basis: 45%;
    }

    .detail-features ul {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 150px;
    }

    #services .card-wrap {
        margin-top: 80px;
    }
}

@media only screen and (max-width:992px) {
    #services .card-item li {
        width: 370px;
    }

    .inner-wrap {
        max-width: 880px;
    }

    .overlay {
        bottom: 1600px;
        left: -190px;
    }

    #services .description {
        font-size: 26px;
    }
}

@media only screen and (max-width:768px) {
    .inner-wrap {
        width: 640px;
    }

    #navbar-wrap {
        padding: 10px 0;
        margin: 0 50px;
    }

    .footer-wrap {
        margin: 0 50px;
        flex-wrap: wrap;
    }

    #footer .brand {
        flex-basis: 30%;
        width: 30%;
    }

    #footer .nav-links {
        flex-basis: 50%;
        width: 50%;
    }

    #footer .nav-link-item {
        transition: all .3s;
        padding: 10px 0;
    }

    #footer .contact-wrap {
        flex-basis: 100%;
        width: 100%;
        margin-top: 30px;
    }

    #footer .contact-wrap .instagram {
        padding: 5px 0 0 0;
    }

    #services .card-wrap {
        flex-wrap: wrap;
    }

    #services .input-wrap {
        flex-basis: 100%;
        width: 100%;
    }

    #services .card-item {
        margin-top: 60px;
        flex-basis: 100%;
        width: 100%;
    }

    #services .card-item li {
        width: 100%;
    }

    .detail-features ul li {
        padding: 10px 0;
    }

    .overlay {
        bottom: 2100px;
    }

    input[type="submit"] {
        margin: 50px auto 0;
    }

    .detail-features ul {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 70px;
    }

    .js-scroll {
        height: 100%;
        position: static;
        z-index: 10;
        top: 0;
        left: 0;
        overflow: auto;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .js-cont {
        position: static;
        height: 100%;
    }
}

@media only screen and (max-width:575px) {
    .inner-wrap {
        width: 360px;
    }

    #circle {
        display: none;
    }

    .game {
        font-size: 116px;
    }

    #navbar ul a {
        font-size: 32px;
    }

    #navbar-wrap {
        margin: 0 40px;
    }

    .nav-hamburger {
        width: 40px;
    }

    input[type="button"],
    input[type="submit"] {
        height: 62px;
        font-size: 23px;
        padding: 0 50px;
    }

    #trading .section-heading,
    #services .section-heading {
        font-size: 35.91px;
        line-height: 63px;
        text-align: center;
    }

    #services .card-item {
        max-width: 360px;
        padding: 50px 40px 70px;
        font-size: 16px;
        line-height: 26px;
    }

    #services .description {
        font-style: normal;
        font-weight: 500;
        font-size: 21px;
        line-height: 35px;
        margin: 0 auto;
    }

    #services .section-heading {
        width: 60%;
        margin: 0 auto 55px;
        line-height: 52px;
    }

    #services #wolf-form {
        padding: 50px 40px 70px;
    }

    #footer .brand {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    #footer .nav-links {
        flex-basis: 100%;
    }

    #footer .contact-wrap {
        align-items: flex-start;
    }

    #services .card-item.no-padding {
        padding: 0;
    }

    #services .card-item li {
        font-size: 18px;
    }

    #services .section-heading.main {
        width: 100%;
    }

    .overlay {
        bottom: 2750px;
    }

    .detail-features ul {
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 70px;
        font-size: 18px;
    }

    .brand svg {
        width: 110px;
    }

    .brand svg {
        width: 110px;
    }

    #footer * {
        font-size: 16px;
    }
}