@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-Medium.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-SemiBold.woff) format('woff');
    font-weight: 600;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: url(./assets/img/logo.svg),
    auto; */
}

* {
    font-family: 'jakarta' !important;
}

body {
    /* transition: background-color .5s ease; */
    background: #121212;
}

* p {
    margin: 0;
    padding: 0;
    color: #F7F7F7;
}

a {
    text-decoration: none !important;
}

.description {
    font-family: 'jakarta';
    font-weight: 500;
}

/* global styles */
.navbar-light .navbar-toggler {
    border: none;
}

button {
    box-shadow: none !important;
}

a {
    text-decoration: none;
    color: #F7F7F7;
}

a:hover {
    color: #F7F7F7;
}

.inner-wrap {
    max-width: 1292px;
    margin: 0 auto;
}

/* ::selection {
    color: #fff;
    background: #220A4B;
    -webkit-text-stroke: none;
}

::marker {
    color: #4B0000;
} */

.blue-text {
    color: #5552F1;
}

input[type="button"],
input[type="submit"] {
    color: #1A1A1A;
    /* background: #F7F7F7; */
    height: 76px;
    padding: 0 70px;
    outline: none;
    border: 1px solid #F7F7F7;
    border-radius: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 121%;
    background-image: linear-gradient(to right, #181818 0%, #242424 50%, #f7f7f7 50%, #f7f7f7 100%);
    background-repeat: no-repeat;
    background-position: -350px 0;
    background-size: 670px 90px;
    transition: all .5s;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    color: #F7F7F7;
    background-position: 0 0;
}

.overlay {
    position: absolute;
    z-index: -1;
}

.overlay svg rect {
    stroke: #5552F1;
}

.left {
    left: 0;
    bottom: 0;
}

.right {
    right: 0;
    top: 0;
}

.bg-grey {
    background: #181818;
    width: 1489px;
    height: 755px;
    border-radius: 200px;
    top: 150px;
    z-index: -2;
}

/* hero section */
#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#brand-top {
    text-align: center;
    padding-top: 50px;
}

#heading-wrap .heading {
    font-family: 'jakarta';
    font-style: normal;
    font-weight: 600;
    font-size: 85.9097px;
    line-height: 108px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #F7F7F7;
    margin-bottom: 40px;
}

#heading-wrap {
    text-align: center;
}

.hero-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 80%;
}

/* navbar-bottom */
#navbar-bottom {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}

#navbar-bottom .active {
    color: #5552F1;
    font-weight: 600;
}