body {
    opacity: 0;
    transition: all 0.5s;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-Regular.woff) format('woff');
    font-weight: 400;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-Medium.woff) format('woff');
    font-weight: 500;
}

@font-face {
    font-family: 'jakarta';
    src: url(./assets/fonts/PlusJakartaSans-SemiBold.woff) format('woff');
    font-weight: 600;
}

@font-face {
    font-family: 'game';
    src: url(./assets/fonts/gameover.woff) format('woff');
    font-weight: 500;
}

/* smooth scroll */
.js-cont {
    position: relative;
    width: 100%;
    height: 100%;
}

.js-scroll {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    will-change: transform;
    overflow-x: hidden;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    box-sizing: border-box;
    scrollbar-width: auto;
    scrollbar-color: #8f54a0 #ffffff;
}

#lottie-scroll {
    height: 100px;
    opacity: 0;
    transition: all .5s;
    position: absolute;
    left: 40vw;
    top: 700px;
}

body,
html {
    overflow-y: overlay;
    overflow-x: hidden;
}

/* Chrome, Edge, and Safari */
::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #5552F100;
    border-radius: 10px;
}

.active-scrollbar ::-webkit-scrollbar-thumb {
    background-color: #333333;
}

body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    font-family: 'jakarta' !important;
    box-sizing: border-box;
}

body {
    /* transition: background-color .5s ease; */
    background: #121212;
}

* p {
    margin: 0;
    padding: 0;
    color: #F7F7F7;
}

a {
    text-decoration: none !important;
}

* {
    cursor: url('./assets/img/circle-cursor.png'), auto !important;
}

#circle {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    border: 3px solid #5552F1;
    border-radius: 50%;
    pointer-events: none;
    z-index: 10000;
}

/* global styles */
.navbar-light .navbar-toggler {
    border: none;
}

button {
    box-shadow: none !important;
}

a {
    text-decoration: none;
    color: #F7F7F7;
}

a:hover {
    color: #F7F7F7;
}

.inner-wrap {
    max-width: 1292px;
    margin: 0 auto;
}

::selection {
    color: #fff;
    background: #5552F1;
    -webkit-text-stroke: none;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::marker {
    color: #5552F1;
}

.blue-text {
    color: #5552F1;
}

.mobile {
    display: none;
}

input[type="button"],
input[type="submit"] {
    color: #F7F7F7;
    height: 76px;
    padding: 0 70px;
    outline: none;
    border: 1px solid #5552F1;
    border-radius: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 28px;
    background-image: linear-gradient(to right, #121212 0%, #121212 50%, #5552F1 50%, #5552F1 100%);
    background-repeat: no-repeat;
    background-position: -410px 0;
    background-size: 780px 90px;
    transition: all .5s;
}

input[type="button"]:hover,
input[type="submit"]:hover {
    color: #5552F1;
    background-position: 0 0;
}

.overlay {
    position: absolute;
    z-index: -1;
}

.overlay svg rect {
    stroke: #5552F1;
}

.left {
    left: 0;
    top: 50vh;
}

.right {
    right: 0;
    top: 0;
}

.bg-grey {
    background: #181818;
    width: 1489px;
    height: 755px;
    border-radius: 200px;
    top: 150px;
    z-index: -2;
}

.section-heading {
    font-style: normal;
    font-weight: 500;
    font-size: 65.91px;
    line-height: 83px;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.inner-heading {
    font-size: 28px;
    font-weight: 400;
    color: #9090909c;
    margin-bottom: 40px;
}

.description {
    font-family: 'jakarta';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #909090;
    letter-spacing: 1px;
}

.inner-heading {
    letter-spacing: 1px;
}

.blue-line div {
    position: relative;
    background: #5552F1;
    height: 2px;
}

/* hero section */
#hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    height: 100vh;
}

#brand-top {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

#brand-top img {
    width: 150px;
}

#heading-wrap .heading {
    font-family: 'jakarta';
    font-style: normal;
    font-weight: 600;
    font-size: 85.9097px;
    line-height: 108px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #F7F7F7;
    margin-bottom: 60px;
    letter-spacing: 10px;
}

#heading-wrap .blue-text {
    padding: 30px;
}

.game {
    font-family: 'game' !important;
    font-weight: 500 !important;
    font-size: 220px;
    transition: all .3s;
}

.game:hover {
    color: greenyellow;
}

#heading-wrap {
    text-align: center;
    padding-bottom: 100px;
}

.hero-content-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-basis: 80%;
}

/* navbar-bottom */
#navbar-bottom {
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 80px;
}

#navbar-bottom .active {
    color: #5552F1;
    font-weight: 600;
}

#navbar-bottom a {
    transition: all .3s;
}

#navbar-bottom a:hover {
    color: #5552F1;
}

/* about section */
#about .section-heading {
    margin-bottom: 360px;
    text-align: center;
    letter-spacing: 20px;
    margin-top: 440px;
    margin-bottom: 440px;
}

#about .outer-wrap {
    background-position: left center;
}

#about .inner-wrap {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 650px;
}

#about .left {
    flex-basis: 40%;
    height: 650px;
}

#about .right {
    flex-basis: 614px;
    text-align: justify;
}

#about .description.one,
#about .description.two {
    margin-bottom: 20px;
}

#about .blue-line {
    right: 0;
    width: 740px;
}

#about .blue-line div {
    top: -60px;
}

#about .left {
    background: url(./assets/img/about-us.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

/* trading section */
#trading {
    margin-top: 200px;
    margin-bottom: 300px;
}

#trading .section-heading {
    text-align: center;
    letter-spacing: 20px;
    margin-top: 440px;
    margin-bottom: 440px;
}

#trading .outer-wrap {
    background-position: right center;
}

#trading .blue-line {
    left: 0;
    width: 290px;
}

#trading .blue-line div {
    top: -60px;
}

#trading .inner-wrap {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 650px;
}

#trading .right {
    flex-basis: 40%;
    height: 650px;
}

#trading .left {
    flex-basis: 614px;
    text-align: justify;
}

#trading .description.one,
#trading .description.two {
    margin-bottom: 20px;
}

#trading .right {
    background: url(./assets/img/trading.png) no-repeat;
    background-size: cover;
    background-position: center center;
}

/* stock-market section */
#stock-market {
    margin-top: 200px;
    padding-bottom: 350px;
    background: url("./assets/img/left-ellipse.svg") no-repeat;
    background-position: left bottom;
}

#stock-market .section-heading {
    text-align: center;
    margin-bottom: 120px;
}

#stock-market .card-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 50px;
}

#stock-market .card-item {
    background: #242424;
    height: 290px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #181818 97%, #5552F1 3%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 2px 70px rgba(0, 0, 0, 0.55);
    transition: all .3s;
}

#stock-market .card-item:hover {
    background-image: linear-gradient(to bottom, #202020 97%, #5552F1 3%);
}

#stock-market .card-item .heading {
    font-style: normal;
    font-weight: 600;
    font-size: 48.91px;
    line-height: 62px;
    letter-spacing: 0.03em;
    color: #5552F1;
    margin-bottom: 40px;
}

/* cta section */
#cta {
    height: 560px;
    background: url(./assets/img/cta.png) no-repeat;
}

#cta {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#cta .heading.one {
    font-style: normal;
    font-weight: 600;
    font-size: 59.21px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#cta .heading.two {
    font-style: normal;
    font-weight: 500;
    font-size: 47.6996px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #5552F1;
    text-transform: capitalize;
    margin-bottom: 50px;
}

/* services section */
#services {
    margin-top: 350px;
    margin-bottom: 200px;
}

#services .heading-wrap {
    text-align: center;
}

#services .description {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    color: #d7d7d7;
}

#services .card-wrap {
    margin-top: 100px;
}

#services .card-item {
    background: #242424;
    height: max-content;
    padding: 50px 60px 70px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, #181818 97%, #5552F1 3%);
    font-size: 22px;
    width: 1187px;
    margin: 0 auto;
    box-shadow: 0px 2px 70px rgb(0 0 0 / 55%);
}

#services .card-item:hover {
    background-image: linear-gradient(to bottom, #202020 97%, #5552F1 3%);
}

#services .features {
    margin-bottom: 60px;
}

#services .card-wrap .description {
    font-size: 20px;
    width: 100%;
}

#services div.features {
    margin-top: 22px;
}

.demat-btn {
    margin-left: 20px;
}

#services div.features .description {
    font-size: 22px;
    color: #909090;
    margin-bottom: 25px;
    padding-left: 10px;
}

#services input[type="button"] {
    color: #5552F1;
    height: 66px;
    padding: 0 60px;
    outline: none;
    border: 1px solid #5552F1;
    border-radius: 40px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    background-image: linear-gradient(to right, #5552F1 0%, #5552F1 50%, #181818 50%, #181818 100%);
    background-repeat: no-repeat;
    background-position: -410px 0;
    background-size: 780px 90px;
    transition: all .5s;
}

#services input[type="button"]:hover {
    color: #f7f7f7;
    background-position: 0 0;
}

#services .card-item:nth-child(1) {
    margin-bottom: 100px;
}

#services .card-item .feature-item {
    color: #909090;
    margin-bottom: 25px;
    padding-left: 10px;
}

#services .card-item.two .feature-item {
    padding-left: 0;
}

#services .card-item ul {
    padding-left: 25px;
}

#services .card-item .heading {
    color: #D9D9D9;
    font-weight: 600;
    margin-bottom: 30px;
}

/* footer section */
#footer {
    background: #f7f7f7;
    padding: 60px 0;
    height: max-content;
    width: 100%;
}

#footer .brand svg path {
    fill: #181818;
}

#footer * {
    color: #181818;
    font-size: 18px;
}

#footer .instagram svg {
    width: 25px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

#footer .nav-links {
    flex-basis: 35%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

#footer .nav-link-item {
    transition: all .3s;
    padding: 0 10px 10px;
}

#footer .nav-link-item:hover {
    color: #5552F1;
}

#footer .contact-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#footer .contact-wrap .heading {
    font-weight: 600;
}

#footer .contact-wrap .instagram {
    font-weight: 500;
    margin-top: 5px;
    transition: all .3s;
    padding: 0 0 0 20px;
}

#footer .contact-wrap .instagram path {
    fill: #181818;
    transition: all .3s;
}

#footer .contact-wrap .instagram:hover path {
    fill: #5552F1;
}

#footer .contact-wrap .mail {
    font-weight: 500;
    transition: all .3s;
}

#footer .contact-wrap .mail:hover {
    color: #5552F1;
}

/* 1440px */
@media only screen and (max-width:1440px) {

    /* hero section */
    .right {
        right: -200px;
        top: -160px;
    }

    .left {
        left: -180px;
        top: 60vh;
    }

    #heading-wrap .heading {
        font-size: 75.9097px;
    }

    /* about section */
    #about .blue-line div {
        top: -55px;
    }

    #about .blue-line {
        width: 490px;
    }

    /* trading section */
    #trading .blue-line {
        left: 0;
        width: 50px;
    }

    #trading .blue-line div {
        top: -55px;
    }

    /* cta section */
    #cta .heading.one {
        font-size: 55.21px;
        line-height: 75px;
    }

    #cta .heading.two {
        font-size: 44.6996px;
    }

    /* stock section */
    #stock-market .card-wrap {
        grid-column-gap: 30px;
    }
}

@media only screen and (max-width:1200px) {
    .right {
        right: -200px;
        top: -230px;
    }

    .left {
        left: -250px;
        top: 60vh;
    }

    #about .blue-line {
        width: 420px;
    }

    #heading-wrap .heading {
        font-size: 65.55px;
        line-height: 98px;
    }

    #heading-wrap .blue-text {
        padding: 25px;
    }

    .game {
        font-size: 175px;
    }

    .inner-wrap {
        max-width: 1040px;
    }

    #about .right {
        flex-basis: 544px
    }

    #trading .left {
        flex-basis: 544px;
    }

    #stock-market .card-item {
        padding: 30px;
    }

    #stock-market .card-item .heading {
        font-size: 38.91px;
    }

    #stock-market .card-item {
        justify-content: flex-end;
    }

    #stock-market .description.card {
        height: 100px;
    }

    #services .card-item {
        width: 1017px;
    }
}

@media only screen and (max-width:1024px) {
    .left {
        left: -300px;
        top: 55vh;
    }

    #lottie-scroll {
        top: 720px;
    }

    .section-heading {
        font-size: 55.91px;
    }

    #about .section-heading {
        margin-top: 400px;
        margin-bottom: 400px;
    }

    .inner-wrap {
        max-width: 880px;
    }

    #about .right {
        flex-basis: 474px;
    }

    #about .blue-line {
        width: 340px;
    }

    #trading .section-heading {
        margin-top: 400px;
        margin-bottom: 400px;
    }

    #trading .left {
        flex-basis: 474px;
    }

    #trading .blue-line {
        width: 30px;
    }

    #trading .right {
        background: url(./assets/img/trading-992px.png) no-repeat;
    }

    #stock-market .card-wrap {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 60px;
        grid-row-gap: 60px;
    }

    #stock-market {
        padding-bottom: 310px;
    }

    #services .card-item {
        width: 840px;
    }
}

@media only screen and (max-width:769px) {
    .right {
        right: -320px;
    }

    .left {
        left: -300px;
        top: 65vh;
    }

    #heading-wrap .heading {
        font-size: 60.55px;
        line-height: 88px;
    }

    .inner-wrap {
        max-width: 640px;
    }

    #navbar-wrap {
        padding: 10px 0;
        margin: 0 50px;
    }

    #about .inner-wrap {
        height: 100%;
        flex-direction: column;
    }

    #about .left {
        background: url("./assets/img/about-768px.png") no-repeat;
        width: 100%;
        min-height: 300px;
        margin-bottom: 60px;
    }

    #about .right {
        flex-basis: 100%;
        width: 100%;
    }

    #about .blue-line {
        width: 500px;
    }

    #trading .inner-wrap {
        height: 100%;
        flex-direction: column-reverse;
    }

    #trading .right {
        background: url("./assets/img/trading-768px.png") no-repeat;
        width: 100%;
        min-height: 300px;
        margin-bottom: 60px;
    }

    #trading .right {
        flex-basis: 100%;
        width: 100%;
    }

    #trading .blue-line {
        width: 460px;
        left: unset;
        right: 0;
    }

    #stock-market .section-heading {
        width: 80%;
        margin: 0 auto 120px;
    }

    #cta .heading.one {
        font-size: 45.21px;
        line-height: 65px;
    }

    #cta .heading.two {
        font-size: 30.6996px;
    }

    #services .card-item {
        width: 640px;
    }

    .footer-wrap {
        margin: 0 50px;
        flex-wrap: wrap;
    }

    #footer .brand {
        flex-basis: 30%;
        width: 30%;
    }

    #footer .nav-links {
        flex-basis: 50%;
        width: 50%;
    }

    #footer .nav-link-item {
        transition: all .3s;
        padding: 10px 0;
    }

    #footer .contact-wrap {
        flex-basis: 100%;
        width: 100%;
        margin-top: 30px;
    }

    #footer .contact-wrap .instagram {
        padding: 5px 0 0 0;
    }

    .footer-wrap {
        margin: 0 50px;
        flex-wrap: wrap;
    }

    .js-scroll {
        height: 100%;
        position: static;
        z-index: 10;
        top: 0;
        left: 0;
        overflow: auto;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        display: none;
    }

    .js-cont {
        position: static;
        height: 100%;
    }

    .demat-btn {
        margin-left: 0;
    }

    .demat-btn input {
        margin-top: 30px;
    }
}

@media only screen and (max-width:575px) {
    #heading-wrap .heading {
        font-size: 40.55px;
        line-height: 58px;
    }

    .nav-hamburger {
        width: 40px;
    }

    #navbar ul a {
        font-size: 32px;
    }

    #heading-wrap .blue-text {
        padding: 0px 15px;
    }

    .game {
        font-size: 105px;
    }

    .mobile {
        display: block;
    }

    #heading-wrap .heading {
        width: 80%;
        margin: 0 auto 70px;
    }

    .right svg {
        width: 70%;
    }

    .right {
        right: -430px;
    }

    input[type="button"],
    input[type="submit"] {
        height: 62px;
        font-size: 23px;
        padding: 0 50px;
    }

    #brand-top img {
        width: 120px;
    }

    #circle {
        display: none;
    }

    #navbar-bottom {
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
    }

    #navbar-bottom .nav-item {
        flex-basis: 50%;
        width: 50%;
        margin-bottom: 20px;
    }

    #navbar-bottom .nav-item:nth-child(2),
    #navbar-bottom .nav-item:nth-child(4) {
        text-align: right;
    }

    #hero svg {
        pointer-events: none;
    }

    #lottie-scroll {
        display: none;
    }

    #about .section-heading,
    #trading .section-heading,
    #stock-market .section-heading,
    #services .section-heading {
        font-size: 35.91px;
        line-height: 56px;
        margin: 350px auto;
        width: 70%;
        text-align: center;
    }

    #about .section-heading {
        width: 60%;
    }

    #about .left {
        background: url("./assets/img/about-575px.png") no-repeat;
    }

    .inner-wrap {
        max-width: 360px;
    }

    #about .blue-line {
        width: 190px;
    }

    #trading .blue-line {
        width: 190px;
    }

    .description {
        font-size: 16px;
        line-height: 26px;
    }

    .inner-heading {
        margin-bottom: 30px;
    }

    #about .blue-line div {
        top: -50px;
    }

    #trading .blue-line div {
        top: -45px;
    }

    #trading .blue-line {
        width: 160px;
    }

    #stock-market .section-heading {
        width: 80%;
    }

    #stock-market .description.card {
        height: max-content;
    }

    #stock-market .card-wrap {
        grid-template-columns: repeat(1, 1fr);
    }

    #stock-market .card-item {
        justify-content: center;
        height: 250px;
    }

    #stock-market .card-item .heading {
        margin-bottom: 20px;
    }

    #cta .heading.one {
        font-size: 35.21px;
        line-height: 60px;
    }

    #cta .heading.two {
        font-size: 28.6996px;
        line-height: 45px;
    }

    #services .section-heading {
        width: 60%;
    }

    #services .card-item {
        max-width: 360px;
        padding: 50px 40px 70px;
        font-size: 17px;
        line-height: 26px;
    }

    #services input[type="button"] {
        padding: 0 40px;
        font-size: 18px;
    }

    #services .card-wrap .secondary-heading.description {
        font-size: 18px;
        line-height: 30px;
    }

    #services .description {
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 35px;
        width: 80%;
        margin: 0 auto;
    }

    #services .card-item .heading {
        font-size: 20px;
    }

    #trading .right {
        background: url("./assets/img/trading-575px.png") no-repeat;
        background-size: cover;
    }

    #footer .brand {
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    #footer .nav-links {
        flex-basis: 100%;
    }

    #footer .contact-wrap {
        align-items: flex-start;
    }

    .brand svg {
        width: 110px;
    }

    #footer * {
        font-size: 16px;
    }
}

@media only screen and (max-width:425px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {}